<!-- TODO: clean this up... -->
<% for (var i = 0; i < limit; i ++) { %>
	<div class="_img imgLarge" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")' data-index=<%= i %>>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[i]['name'] %></span>
				<span class="hours"><%= games[i]['playTimeForever'] %>h</span>
				<% if (games[i]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[i]['totalAchievementsCompleted'] %>/<%= games[i]['totalAchievements'] %></span>
				<% } %>
				<% if (games[i]['priceOverview']['final'] > 0) { %>
					<span class="pricing right">
						<% if (games[i]['priceOverview']['discount_percent'] > 0) { %>
						<span class="cost discount"><%= games[i]['priceOverview']['initial'] %></span>
						<% } %>
						<span class="cost">$<%= games[i]['priceOverview']['final'] %></span>
					</span>
				<% } else { %>
					<span class="pricing right">
						<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
	<% var index = (i*2)+limit; %>
	<div class="_img imgNormal right" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[index]['appId'] %>/header.jpg")' data-index=<%= index %>>
		<% if (games[index]['priceOverview']['discount_percent'] > 0) { %>
		<div class="discountPercent _discountPercent">
			<span>-<%= games[index]['priceOverview']['discount_percent'] %>%</span>
		</div>
		<% } %>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[index]['name'] %></span>
				<span class="hours"><%= games[index]['playTimeForever'] %>h</span>
				<% if (games[index]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[index]['totalAchievementsCompleted'] %>/<%= games[index]['totalAchievements'] %></span>
				<% } %>
				<% if (games[index]['priceOverview']['final'] > 0) { %>
					<span class="pricing right">
						<% if (games[index]['priceOverview']['discount_percent'] > 0) { %>
						<span class="cost discount"><%= games[index]['priceOverview']['initial'] %></span>
						<% } %>
						<span class="cost">$<%= games[index]['priceOverview']['final'] %></span>
					</span>
				<% } else { %>
					<span class="pricing right">
						<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
	<% var index = (i*2)+limit+1; %>
	<div class="_img imgNormal right" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[index]['appId'] %>/header.jpg")' data-index=<%= index %>>
		<% if (games[index]['priceOverview']['discount_percent'] > 0) { %>
		<div class="discountPercent _discountPercent">
			<span>-<%= games[index]['priceOverview']['discount_percent'] %>%</span>
		</div>
		<% } %>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[index]['name'] %></span>
				<span class="hours"><%= games[index]['playTimeForever'] %>h</span>
				<% if (games[index]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[index]['totalAchievementsCompleted'] %>/<%= games[index]['totalAchievements'] %></span>
				<% } %>
				<% if (games[index]['priceOverview']['final'] > 0) { %>
					<span class="pricing right">
						<% if (games[index]['priceOverview']['discount_percent'] > 0) { %>
						<span class="cost discount"><%= games[index]['priceOverview']['initial'] %></span>
						<% } %>
						<span class="cost">$<%= games[index]['priceOverview']['final'] %></span>
					</span>
				<% } else { %>
					<span class="pricing right">
						<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
<% } %>
<% for (var i = limit * 3; i < maxGamesLength; i ++) { %>
	<div class="_img imgNormal left" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")' data-index=<%= i %>>
		<% if (games[i]['priceOverview']['discount_percent'] > 0) { %>
		<div class="discountPercent _discountPercent">
			<span>-<%= games[i]['priceOverview']['discount_percent'] %>%</span>
		</div>
		<% } %>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[i]['name'] %></span>
				<span class="hours"><%= games[i]['playTimeForever'] %>h</span>
				<% if (games[i]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[i]['totalAchievementsCompleted'] %>/<%= games[i]['totalAchievements'] %></span>
				<% } %>
				<% if (games[i]['priceOverview']['final'] > 0) { %>
					<span class="pricing right">
						<% if (games[i]['priceOverview']['discount_percent'] > 0) { %>
						<span class="cost discount"><%= games[i]['priceOverview']['initial'] %></span>
						<% } %>
						<span class="cost">$<%= games[i]['priceOverview']['final'] %></span>
					</span>
				<% } else { %>
					<span class="pricing right">
						<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
<% } %>