<!-- TODO: clean this up... -->
<% for (var i = 0; i < limit; i ++) { %>
	<div class="_img imgLarge" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")'>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[i]['name'] %></span>
				<span class="hours"><%= games[i]['playTimeForever'] %>h</span>
				<% if (games[i]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[i]['totalAchievementsCompleted'] %>/<%= games[i]['totalAchievements'] %></span>
				<% } %>
				<% if (games[i]['priceOverview']['final'] > 0) { %>
					<span class="cost">$<%= games[i]['priceOverview']['final'] %></span>
				<% } else { %>
					<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
	<div class="_img imgNormal right" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[(i*2)+limit]['appId'] %>/header.jpg")'>
		<div class="discount hide">
			<% if (games[(i*2)+limit]['priceOverview']['discount_percent'] > 0) { %>
				<span>-<%= games[(i*2)+limit]['priceOverview']['discount_percent'] %>%</span>
			<% } %>
		</div>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[(i*2)+limit]['name'] %></span>
				<span class="hours"><%= games[(i*2)+limit]['playTimeForever'] %>h</span>
				<% if (games[(i*2)+limit]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[(i*2)+limit]['totalAchievementsCompleted'] %>/<%= games[(i*2)+limit]['totalAchievements'] %></span>
				<% } %>
				<% if (games[(i*2)+limit]['priceOverview']['final'] > 0) { %>
					<span class="cost">$<%= games[(i*2)+limit]['priceOverview']['final'] %></span>
				<% } else { %>
					<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
	<div class="_img imgNormal right" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[(i*2)+limit+1]['appId'] %>/header.jpg")'>
		<div class="discount hide">
			<% if (games[(i*2)+limit+1]['priceOverview']['discount_percent'] > 0) { %>
				<span>-<%= games[(i*2)+limit+1]['priceOverview']['discount_percent'] %>%</span>
			<% } %>
		</div>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[(i*2)+limit+1]['name'] %></span>
				<span class="hours"><%= games[(i*2)+limit+1]['playTimeForever'] %>h</span>
				<% if (games[(i*2)+limit+1]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[(i*2)+limit+1]['totalAchievementsCompleted'] %>/<%= games[(i*2)+limit+1]['totalAchievements'] %></span>
				<% } %>
				<% if (games[(i*2)+limit+1]['priceOverview']['final'] > 0) { %>
					<span class="cost">$<%= games[(i*2)+limit+1]['priceOverview']['final'] %></span>
				<% } else { %>
					<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
<% } %>
<% for (var i = limit * 3; i < maxGamesLength; i ++) { %>
	<div class="_img imgNormal left" style='background-image: url("http://cdn.akamai.steamstatic.com/steam/apps/<%= games[i]['appId'] %>/header.jpg")'>
		<div class="discount hide">
			<% if (games[i]['priceOverview']['discount_percent'] > 0) { %>
				<span>-<%= games[i]['priceOverview']['discount_percent'] %>%</span>
			<% } %>
		</div>
		<div class="gamesDetail _gamesDetail hide">
			<div class="bottom">
				<span class="name"><%= games[i]['name'] %></span>
				<span class="hours"><%= games[i]['playTimeForever'] %>h</span>
				<% if (games[i]['totalAchievements'] > 0) { %>
					<span class="achievements"><%= games[i]['totalAchievementsCompleted'] %>/<%= games[i]['totalAchievements'] %></span>
				<% } %>
				<% if (games[i]['priceOverview']['final'] > 0) { %>
					<span class="cost">$<%= games[i]['priceOverview']['final'] %></span>
				<% } else { %>
					<span class="cost">FREE</span>
				<% } %>
			</div>
		</div>
	</div>
<% } %>