<img class="avatar" src="<%= avatarfull %>"/>
<div class="name">
	<span class="name"><span class="status-circle <%= stateClass %>"></span> <a href="/<%= steamid %>"><%= personaname %></a></span>
	<span class="status"><%= personastate %></span>
</div>